/*.grid {
	width: 150px;
	height: 150px;
	border: 15px solid;
	font-size: 100px;
	cursor: pointer;
	border-radius: 50px;
	&:hover {
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		border-color: red;
	}
}
#gameBlock {
	font-family: "Bowlby One SC";
	text-align: center;
	color: rgb(255, 255, 255);
}
#gridBlock {
	display: grid;
	grid-template-columns: repeat(3, auto);
	width: 450px;
	margin: auto;
}
body {
	background-color: rgb(0, 0, 0);
	font-family: "Bowlby One SC";
}
.title {
	font-size: 90px;
	margin-top: 30px;
}
#messageID {
	font-size: 50px;
	margin-top: 40px;
}
#restart {
	background-color: rgb(0, 0, 0);
	border: 3px solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	padding: 4px 18px;
	text-align: center;
	font-size: 20px;
	font-weight: 900;
	cursor: pointer;
	&:hover {
		color: rgb(0, 0, 0);
		background-color: rgb(255, 255, 255);
	}
}